/*
 * Arrows navigation
 */
i.arrow {
    border-color: #5A5A5A !important;
    border-style: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
}
i.arrow:hover {
    border-color: #000000 !important;
}
.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*
 * Calendar navigation
 */
.prev-month:hover,
.next-month:hover {
    cursor: pointer;
}

/*
 * Outline white button
 */
.btn-outline-white {
    background-color: transparent;
    background-image: none;
    border-color: #5A5A5A;
    color: #5A5A5A;
}
.btn-outline-white:hover {
    background-color: #FFFFFF;
    border-color: #5A5A5A;
    color: #5A5A5A;
}
.btn-outline-white.focus,
.btn-outline-white:focus {
    box-shadow: 0 0 0 .2rem hsla(0, 0%, 100%, .5);
    -webkit-box-shadow: 0 0 0 .2rem hsla(0, 0%, 100%, .5);
}
.btn-outline-white.disabled,
.btn-outline-white:disabled {
    background-color: transparent;
    color: #FFFFFF;
}
.btn-outline-white:not(:disabled):not(.disabled).active,
.btn-outline-white:not(:disabled):not(.disabled):active,
.show>.btn-outline-white.dropdown-toggle {
    background-color: #FFFFFF;
    border-color: #5A5A5A;
    color: #5A5A5A;
}
.btn-outline-white:not(:disabled):not(.disabled).active:focus,
.btn-outline-white:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-white.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem hsla(0, 0%, 100%, .5);
    -webkit-box-shadow: 0 0 0 .2rem hsla(0, 0%, 100%, .5);
}

/*
 * Calendar
 */
.calendar-container .weekend-day {
    background: #F0F0F0;
}
.calendar-container .current-day span.date:after {
    border-top-style: solid;
    border-top-width: 2px;
    content: '';
    display: block;
    width: 22px;
}
.calendar-container .bookable-day:hover {
    background-color: #D8A62A;
    cursor: pointer;
}

/*
 * Appointment (Sidebar)
 */
.appointment-content h5:after {
    border-top: 1px solid #DEE2E6;
    content: '';
    display: block;
    margin-top: 0.25rem;
}

/*
 * Appointment confirm form
 */
.appointment-confirm-form a {
    color: #5A5A5A !important;
}
.appointment-confirm-form a:hover {
    color: #000000 !important;
    text-decoration: none;
}
.appointment-confirm-form a i {
    padding: 5px;
}
.appointment-confirm-form a:hover i {
    border-color: #000000 !important;
}

/*
 * Theme
 */
.label-form {
    color: #5A5A5A;
    font-size: 0.9rem;
}
.form-control {
    border-color: #5A5A5A;
}
.form-control:focus,
.form-control.is-invalid:focus {
    border-color: #D8A62A;
    box-shadow: none;
}
textarea {
    resize: none;
}

.btn-gold {
    background-color: #5A5A5A;
    border-color: #5A5A5A;
    color: #FFFFFF;
}
.btn-gold:not(:disabled):hover,
.btn-gold:not(:disabled):focus {
    background-color: #D8A62A;
    border-color: #D8A62A;
    box-shadow: none;
    color: #FFFFFF;
}
.btn-gold:disabled:hover {
    cursor: not-allowed;
}

.btn-grey {
    background-color: #A9A9A9;
    border-color: #A9A9A9;
    color: #FFFFFF;
}
.btn-grey:hover,
.btn-grey:focus {
    background-color: #878787;
    border-color: #878787;
    box-shadow: none;
}

#appointmentModal .appointment-hour {
    border: 1px solid #5A5A5A;
}
#appointmentModal .appointment-hour.active,
#appointmentModal .appointment-hour:hover {
    background-color: #D8A62A;
    border-color: #D8A62A;
    color: #FFFFFF;
    cursor: pointer;
}

a:not(.btn),
a:not(.btn):hover {
    color: #000000;
    font-weight: bold;
}

/*
 * Spinner
 */
.spinner .path {
    stroke: hsl(43, 69%, 51%);
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /*
     * Arrows navigation
     */
    i.arrow {
        border-color: #000000;
        padding: 5px;
    }

    /*
     * Calendar
     */
    .calendar-container h2 {
        font-size: 1.2rem;
    }

    /*
     * Appointment (Sidebar)
     */
    .appointment-container .day h5 {
        padding: 10px;
        margin: -8px;
    }
    .appointment-container .date {
        padding-left: 4px;
    }
    .appointment-container h2,
    .appointment-content h5 {
        font-size: 1.2rem;
    }
    .appointment-content span,
    .appointment-content button {
        font-size: 0.9rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .day {
        height: 6vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .day {
        height: 6vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .day {
        height: 6vw;
    }
}