/*
 * Outline white button
 */
.btn-outline-white {
    background-color: transparent;
    background-image: none;
    border-color: #5A5A5A;
    color: #5A5A5A;
}
.btn-outline-white:hover {
    background-color: #FFFFFF;
    border-color: #5A5A5A;
    color: #5A5A5A;
}
.btn-outline-white.focus,
.btn-outline-white:focus {
    box-shadow: 0 0 0 .2rem hsla(0, 0%, 100%, .5);
    -webkit-box-shadow: 0 0 0 .2rem hsla(0, 0%, 100%, .5);
}
.btn-outline-white.disabled,
.btn-outline-white:disabled {
    background-color: transparent;
    color: #FFFFFF;
}
.btn-outline-white:not(:disabled):not(.disabled).active,
.btn-outline-white:not(:disabled):not(.disabled):active,
.show>.btn-outline-white.dropdown-toggle {
    background-color: #FFFFFF;
    border-color: #5A5A5A;
    color: #5A5A5A;
}
.btn-outline-white:not(:disabled):not(.disabled).active:focus,
.btn-outline-white:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-white.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem hsla(0, 0%, 100%, .5);
    -webkit-box-shadow: 0 0 0 .2rem hsla(0, 0%, 100%, .5);
}

/*
 * Calendar
 */
.calendar-container .bookable-day:hover {
    background-color: #D8A62A;
}

/*
 * Appointment confirm form
 */
.appointment-confirm-form a {
    color: #5A5A5A !important;
}
.appointment-confirm-form a:hover {
    color: #000000 !important;
    text-decoration: none;
}
.appointment-confirm-form a i {
    padding: 5px;
}
.appointment-confirm-form a:hover i {
    border-color: #000000 !important;
}

/*
 * Theme
 */
.label-form {
    color: #5A5A5A;
    font-size: 0.9rem;
}
.form-control {
    border-color: #5A5A5A;
}
.form-control:focus,
.form-control.is-invalid:focus {
    border-color: #D8A62A;
    box-shadow: none;
}
textarea {
    resize: none;
}

.btn-gold {
    background-color: #5A5A5A;
    border-color: #5A5A5A;
    color: #FFFFFF;
}
.btn-gold:not(:disabled):hover,
.btn-gold:not(:disabled):focus {
    background-color: #D8A62A;
    border-color: #D8A62A;
    box-shadow: none;
    color: #FFFFFF;
}
.btn-gold:disabled:hover {
    cursor: not-allowed;
}

.btn-grey {
    background-color: #A9A9A9;
    border-color: #A9A9A9;
    color: #FFFFFF;
}
.btn-grey:hover,
.btn-grey:focus {
    background-color: #878787;
    border-color: #878787;
    box-shadow: none;
}

#appointmentModal .appointment-hour.active,
#appointmentModal .appointment-hour:hover {
    background-color: #D8A62A;
    border-color: #D8A62A;
}

a:not(.btn),
a:not(.btn):hover {
    color: #000000;
    font-weight: bold;
}

/*
 * Spinner
 */
.spinner .path {
    stroke: hsl(43, 69%, 51%);
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}